@import url('https://fonts.googleapis.com/css2?family=Urbanist:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

* {
    margin: 0;
    font-family: 'Urbanist';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.32px;
    color: rgba(255, 255, 255, 0.8);
    position: relative;
}

.prevent-select {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    position: relative;
}

.bg-gradient {
    height: 100vh;
    width: 100vw;
    background: linear-gradient(74.18deg, #99A6D5 3.97%, #5B75FE 101.42%);
    background-blend-mode: overlay;
    position: absolute;
    overflow: hidden;
}

.bg-circles-head {
    position: absolute;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

.bg-circles {
    opacity: 0.35;
    width: 94vw;
    left: 3vw;
    top: -131.92px;
}

.navbar {
    background: linear-gradient(89.99deg, rgba(133, 157, 189, 0.1725) 0.01%, rgba(133, 157, 189, 0.0425) 11.69%, rgba(133, 157, 189, 0.0475) 32.24%, rgba(133, 157, 189, 0.065) 75.04%, rgba(133, 157, 189, 0.25) 99.99%);
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(39.1938px);
    z-index: 1;
    position: relative;
    display: flex;
    width: 100%;
    margin: 0 auto; 
    justify-content: space-between;
    align-items: center;
    height: 65px;
}

.left-nav{
    width: 50%;
    display: inline-flex;
}

.logo {
    width: 25%;
    max-width: 25%;
    z-index: 1;
    float: right;
    margin: auto;
}

.logo img{
    height: 4vh;
    float: right;
}

.logo-name {
    width: 15%;
    margin: auto;
    font-weight: 800;
    opacity: 1;
    color: rgba(255, 255, 255);
    font-size: 20px;
}

.nav-elements {
    max-width: 40%;
    text-decoration: none;
    margin: auto;
    margin-right: 5vw;
}

nav ul{
    list-style: none;
    width: 60%;
    display: flex;
    justify-content: space-around;
    font-weight: 401;
}

.nav-elements a {
    text-decoration: none;
}

.nav-elements a:hover {
    text-decoration-line: underline;
    text-decoration-color: rgba(255, 255, 255, 0.8);
    text-underline-offset: 10px;
}   

.right-nav {
    width: 50%;
}

.logged-in {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 4px 16px 4px 4px;
    float: right;
    margin-right: 25%;
    background: rgba(8, 18, 37, 0.15);
    border-radius: 400px;
    width: 222.97px;
    height: 38px;
}

.profile-picture {
    margin: 0 auto;
    width: 36px;
    height: 36px;
    border-radius: 400px;
}

.profile-picture img {
    width: 41.5px;
    height: 41.5px;
    left: -1.5px;
    top: -2.9px;
    border-radius: 400px
}

.profile-details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px 12px;
    gap: 2px;

    margin: 0 auto;
    width: 154.97px;
    height: 36px;
}

.signed-in-name {
    width: 150px;
    height: 12px;

    font-weight: 700;
    font-size: 12px;
    line-height: 100%;
    display: flex;
    align-items: center;

    color: rgba(255, 255, 255, 0.8);
}

.signed-in-email {
    width: 91px;
    height: 10px;

    font-weight: 500;
    font-size: 10px;
    line-height: 100%;
    display: flex;
    align-items: center;

    color: rgba(255, 255, 255, 0.7);
}

.logout {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    width: 12px;
    height: 12px;
    cursor: pointer;
}

.dropbtn {
    position: absolute;
    left: 15.62%;
    right: 15.62%;
    top: 34.38%;
    bottom: 28.12%;
    background: none;
    border: none;
    cursor: pointer;
}

.logout img {
    position: absolute;
    left: 15.62%;
    right: 15.62%;
    top: 34.38%;
    bottom: 28.12%;
}

.logout-dropdown {
    display: none;
    z-index: 2;
}

.logout h3 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    font-size: 14px;    
}

.logged-out-btn {
    padding: 4px 16px 4px 4px;
    float: right;
    margin-right: -130%;
    /* margin-top: 15px; */
    background: #FFF;
    border-radius: 400px;
    width: 222.97px;
    height: 38px;
    top: 29px;
    color: black;
}

.logout-dropdown.show {
    display: block;
  }
  

.hamburger{
    flex-direction: column;
    display: none;
    height: 15px;
    justify-content: space-between;
    z-index: 2;
    cursor: pointer;
    width: 25px;
}

.appear{
    display: flex !important;
}

.hamburger div{
    background: #fff;
    height: 1.5px;
    transition: .4s  cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.hamburger div:nth-of-type(1) {
    width:50%;
}

.hamburger div:nth-of-type(2){
    width:100%;
}

.hamburger  div:nth-of-type(3) {
    width:75%;
}

.hamburger-clicked div:nth-child(1){
    transform-origin:bottom;
    transform:rotatez(45deg) translate(3px,0.5px);
}

.hamburger-clicked div:nth-child(2){
    transform-origin:top;
    transform:translate(0px, 1px) rotatez(-45deg)   
}

.hamburger-clicked div:nth-child(3){
    transform-origin:bottom;
    width:50%;
    transform: translate(10px,-3px) rotatez(45deg);
}

.section-2 {
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
}

.text-heading-1 {
    font-size: 8vh;
    font-weight: 600;
    line-height: 95%;
    text-align: center;
    letter-spacing: -2.4px;
    background: linear-gradient(104.64deg, rgba(255, 255, 255, 0.9) 31.77%, rgba(255, 255, 255, 0.58) 130.47%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.text-heading-2 {
    font-size: 11vh;
    font-family: 'Space Grotesk';
    font-weight: 700;
    line-height: 100%;
    text-align: center;
    letter-spacing: -2.8px;
    background: linear-gradient(121.52deg, #FFF4D7 -22.23%, rgba(218, 222, 251, 0.982854) 49.03%, rgba(216, 255, 220, 0.972567) 91.79%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-shadow: 0px 3.48389px 3.48389px rgba(78, 110, 192, 0.3);
}

.text-subheading-1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    padding-top: 18px;
    width: 28vw;
    font-weight: 500;
    font-size: 20px;
    line-height: 125%;
    text-align: center;
    letter-spacing: -0.32px;
    color: rgba(255, 255, 255, 0.7);
}

.abcRioButtonContents{
    color: black !important;
}

#not_signed_in8qudwdeboxzt{
    color: black !important;
}

.signinWrapper{
    display: flex;
    width: 32vw;
    justify-content: space-evenly;
    margin: 0 auto;
    padding-top: 6vh;
}

.account {
    display: flex;
    justify-content: space-between;
    width: 87%;
}

.createaccount-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 195px;
    background: #fff;
    height: 7.5vh;
    width: 13vw;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    color: #245FFF;
    font-weight: 600;
    font-size: 14px;
    border-radius: 12px;
}
.loginaccount-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 195px;
    background: linear-gradient(180deg, #245FFF 0%, rgba(36, 95, 255, 0.88) 100%);
    height: 7.5vh;
    width: 13vw;
    border-radius: 4px;
    border: 0;
    cursor: pointer;
    color: #FFF;
    font-weight: 600;
    font-size: 14px;
    border-radius: 12px;
}

#createAccountForm {
    display: none;
}
#loginAccountForm {
    display: none;
}

.createaccount-main {
    position: fixed;
    width: 450px;
    height: 436px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateZ(0);
    background: transparent;
    border: 1px solid rgba(105, 126, 225, .5);
    border-radius: 25px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.loginaccount-main {
    position: fixed;
    width: 450px;
    height: 415px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) translateZ(0);
    background: transparent;
    border: 1px solid rgba(105, 126, 225, .5);
    border-radius: 25px;
    backdrop-filter: blur(20px);
    box-shadow: 0 0 3px rgba(0, 0, 0, .5);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.createaccount {
    width: 100%;
    padding: 40px;
}

.createaccount .icon-close {
    position: absolute;
    top: 0px;
    right: -2px;
    width: 45px;
    height: 45px;
    background-color: #245FFF;
    color: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 20px;
    cursor: pointer;
}


.createaccount-heading h1 {
    text-align: center;
    font-size: 2em;
    font-weight: 700;
}

.input-box {
    position: relative;
    width: 100%;
    height: 50px;
    border-bottom: 1.75px solid dimgray;
    margin: 30px 0;
}

.input-box label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 1em;
    font-weight: 500;
    pointer-events: none;
    transition: .5s;
}

.input-box input:focus~label,
.input-box input:valid~label {
    top: 3px;
}

.input-box input {
    width: 88%;
    height: 75%;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    font-weight: 600;
    padding: 0 0 0 5px;
    margin-top: 10px;
}

.input-box .icon {
    position: absolute;
    right: 8px;
    font-size: 1.2em;
    line-height: 57px;
}

.submit-btn {
    width: 100%;
    height: 45px;
    background-color: #245FFF;
    border: none;
    outline: none;
    border-radius: 6px;
    cursor: pointer;
    font-size: 1em;
    font-weight: 500;
    color: #FFF;
}

#buttonDiv {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}
